.container {
  background: white;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  right: 0;
  padding: 0 15px;

  @media (min-width: 530px) and (max-width: 980px) {
    width: 500px;
    margin: 0 auto;
  }

  h3 {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
  }

  .details {
    display: none;
    opacity: 0;

    @media (max-width: 980px) {
      padding-top: 10px;
      border-top: 1px solid grey;
      margin-top: 18px;
    }

    .button-add-file {
      align-self: flex-end;
    }

    .withicon {
      display: flex;
      &:first-child {
        // margin: 0 5px 0 0;
      }
    }

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .selected-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    margin-bottom: 16px;
    opacity: 1;
    transition: all 0.25s 0.1s ease-in-out;
  }

  .form {
    div {
      padding: 0 0 10px 0;
    }
    .emp {
      font-weight: 700;
    }
  }
}
.button-group {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 480px) {
    flex-direction: column;
  }

  .checkbox {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;

    label {
      padding: 0 0 0 3px;
    }
  }
  button {
    margin: 0 5px 0 0;
    @media (max-width: 480px) {
      margin: 5px 0;
      width: 100%;
    }
  }
}
