.container {
  background: white;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  right: 0;
  padding: 0 15px;

  @media (min-width: 530px) and (max-width: 980px) {
    width: 500px;
    margin: 0 auto;
  }

  .info {
    display: none;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 980px) {
      padding-top: 10px;
      border-top: 1px solid grey;
      margin-top: 18px;
    }

    .button-add-file {
      align-self: flex-end;
    }

    .withicon {
      display: flex;
      &:first-child {
        // margin: 0 5px 0 0;
      }
    }
  }

  .selected {
    display: flex;
  }

  .form {
    div {
      padding: 10px 0;
    }
    .emp {
      font-weight: 700;
    }
  }
}
.button-group {
  padding: 10px 0;
  // display: flex;
  // justify-content: space-evenly;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }
  button {
    margin: 0 5px 0 0;
    @media (max-width: 480px) {
      margin: 5px 0;
    }
  }
}
