.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: rgba(10, 10, 10, 0.15);
  z-index: 200;

  .spinner {
    width: 80px;
    height: 80px;

    border: 2px solid rgba(1, 1, 1, 0.6);
    border-top: 3px solid transparent;
    border-radius: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 201;

    animation: spin 1s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
