.nav {
  grid-area: 'header';
  background: #3977bb;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 12px;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  color: white;

  * {
    padding: 10px 0px;
    margin: auto 0;
  }

  .left {
  }

  .right {
    li {
      display: inline-block;
      padding: 0px 10px;
      @media (max-width: 500px) {
        display: flex;
      }
      .avatar {
        @media (max-width: 500px) {
          display: none;
        }
      }
    }
  }
}
