.container {
  flex: 0 0 500px;
  padding: 0 16px;
  @media (min-width: 530px) {
    width: 500px;
    margin: 0 auto;
  }
}

// .button-load {
//   display: block;
//   width: 200px;
//   margin: 0 auto;
//   border: 1px solid lightgray;
//   cursor: pointer;
// }
